<nav>
    <div class="nav-wrapper light-blue lighten-1">
      <a href="#!" class="brand-logo">Dentist-Data</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href ui-sref="root.home">{{ 'home' | uppercase }}</a></li>
        <li><a href ui-sref="root.propos">{{ 'à propos' | uppercase }}</a></li>
        <li><a href ui-sref="root.nous">{{ 'qui somme nous ?' | uppercase }}</a></li>
        <li><a href ui-sref="root.pourquoi">{{ 'pourquoi ce site ?' | uppercase }}</a></li>
        <li><button id="loginButton" class="waves-effect waves-light btn light-blue darken-3" ng-click="createLoginPopin()">Connexion</button></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href ui-sref="root.home">{{ 'home' | uppercase }}</a></li>
        <li><a href ui-sref="root.propos">{{ 'à propos' | uppercase }}</a></li>
        <li><a href ui-sref="root.nous">{{ 'qui sommes nous ?' | uppercase }}</a></li>
        <li><a href ui-sref="root.pourquoi">{{ 'pourquoi ce site ?' | uppercase }}</a></li>
        <li><button id="loginButton" class="waves-effect waves-light btn light-blue darken-3" ng-click="createLoginPopin()">Connexion</button></li>
      </ul>
    </div>
  </nav>

<div id="loginPopin" class="" ng-show="showLoginPopin">
  <div class="modal-content">
    <h4>Login</h4>
    <label>Username : </label><input ng-model="loginUsername" type="text"/>
    <label>Password : </label><input ng-model="loginPassword" type="password"/>
  </div>
  <div class="modal-footer">
    <button id="loginAction" class="waves-effect waves-light btn light-blue darken-3" ng-click="loginAction()">Connexion</button>
  </div>
</div>
